.form {
  margin-top: 4rem;
}

.form__wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  margin: auto;
  padding: 30px 10px;
  border: 0.15rem solid green;
  border-radius: 1rem;
}

.form__item {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.form__input {
  max-width: 150px;
  height: 35px;
  margin: 0 1rem;
  padding: 0 5px;
  font-size: 20px;
  font-weight: 500;
  border: 0.15rem solid green;
  border-radius: 0.5rem;
}

.form__select {
  height: 35px;
  border-radius: 0.5rem;
  border: 0.15rem solid green;
}